.cotainer {
  position: relative;
}
.imageBiden,
.unbox {
  position: relative;
}
.text-overlay,
.unText {
  position: absolute;
  bottom: 10px;
  z-index: 1;
}
.bidenText {
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px;
}
.card {
  position: relative;
  width: 230px;
  height: 280px;
  margin: 5px;
}
.labelContainer {
  margin-top: 0;
  padding: 20px;
  background-color: blueviolet;
}
.container {
  position: relative;
}
